@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Assasindie/discord-rich-presence-modifier/releases/latest" target="_blank" class="ml-md-auto">Get Discord Rich Presence Modifier</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
